@import "tailwindcss";

@font-face {
    font-family: "MyFont";
    src: url("/Manrope.ttf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}