@import "tailwindcss";

@font-face {
    font-family: "Manrope";
    src: url("/Manrope.ttf") format("truetype");
}

body {
    font-family: "Manrope", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

.animate-progress {
  animation-name: progress;
}